<link rel="stylesheet" href="<%= assetPath('css/home.css')%>">
<div class="home">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-10 mx-auto">
                <div class="descp">        
                    <h2>Get to know your <span>Roomys</span></h2>
                    <p>An Online Solution to find your random roomates 😉</p> 
                
                    <div class="login_signin_buttons">
                        <a href="/users/sign-up" alt="">Sign Up Now</a>
                        <a href="/users/log-in" alt="" id="btn_2">Log In Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-10 mx-auto">
                <figure class="roomy_img" >
                    <img src="<%= assetPath('images/grp.png')%>" alt="lol" class="img-fluid" />
                </figure>
            </div>
        </div>
    </div>
</div>